<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hangmanpoging2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hangmanlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.hangmanpoging2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hangmanpoging2.DisplayRulesActivity"
            android:label="@string/title_activity_display_rules"
            android:parentActivityName="com.example.hangmanpoging2.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangmanpoging2.MainActivity" />
        </activity>
        <activity
            android:name="com.example.hangmanpoging2.GameSettingsActivity"
            android:label="@string/title_activity_game_settings"
            android:parentActivityName="com.example.hangmanpoging2.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangmanpoging2.MainActivity" />
        </activity>
        <activity
            android:name="com.example.hangmanpoging2.Game"
            android:label="@string/title_activity_game"
            android:parentActivityName="com.example.hangmanpoging2.GameSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangmanpoging2.GameSettingsActivity" />
        </activity>
        <activity android:name=".DisplayHighScores"
            android:label="@string/title_activity_display_high_scores"
            android:parentActivityName="com.example.hangmanpoging2.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangmanpoging2.MainActivity" />
        </activity>
    </application>

</manifest>

